@charset 'utf-8';

html {
  position: relative;

  min-height: 100%;

  font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body {
  margin: 0 0 $footer-height;

  color: $blackish-grey;

  background: $lighter-grey;
}

.keywords {
  padding: 0;
  margin: 10px 0 0;

  li {
    display: inline-block;

    margin: 2px 5px 2px 0;

    font-weight: normal;

    background-color: $tag-background;
  }
}

.main-container {
  max-width: 1400px;
}

.pack-deck {
  margin: 20px -10px;

  .pack,
  .pack-sizer {
    width: calc(100% - #{$grid-gutter-width-base / 2});
    margin: $grid-gutter-width-base / 4;
  }
}

@media (min-width: 655px) {
  .pack-deck {
    .pack,
    .pack-sizer {
      width: calc(50% - #{$grid-gutter-width-base / 2});
    }
  }
}

@media (min-width: 980px) {
  .pack-deck {
    .pack,
    .pack-sizer {
      width: calc(33% - #{$grid-gutter-width-base / 2});
    }
  }
}

@media (min-width: 1300px) {
  .pack-deck {
    .pack,
    .pack-sizer {
      width: calc(25% - #{$grid-gutter-width-base / 2});
    }
  }
}

.pack {
  border: 1px solid $borders;

  box-sizing: border-box;

  //  box-shadow: 1px 1px 1px 0px #eee;
  //  border: 1px solid #ddd;

  &:hover {
    //  box-shadow: 1px 1px 1px 0px #ace;
  }

  .install {
    display: none;
  }

  .description {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-header {
    position: relative;

    padding-bottom: 5px;
    padding-left: 65px;

    .icon {
      position: absolute;
      top: 15px;
      left: 20px;

      background: $white;
      border-radius: 5px;

      img {
        border-radius: 5px;
      }
    }

    .btn {
      position: absolute;
      top: 18px;
      right: 20px;

      &.fa-github {
        right: 60px;

        color: $github-button;

        border-color: inherit;
      }
    }

    h4 {
      margin: 8px 0 10px;

      font-size: 20px;
    }
  }

  .card-header,
  .card-footer {
    background: transparent;
    border: 0;
  }

  .card-footer {
    .author,
    .version {
      margin: 0 15px;

      font-size: 12px;
      color: $dimmed-text;
    }

    .author {
      float: right;
    }

    .version {
      position: relative;
      float: left;

      .fa {
        margin-left: 3px;

        color: $tests-checkmark;

        opacity: .7;
      }

      .coverage {
        position: absolute;

        content: '•';
      }
    }
  }

  .progress-wrapper {
    height: .5rem;
    margin: 0;
    overflow: hidden;

    border-radius: 0 0 .25rem .25rem;
  }

  .progress {
    width: 100.1%;
    height: .5rem;
    margin-bottom: 0;
    overflow: hidden;

    .progress-bar {
      float: left;

      height: .5rem;

      &.actions {
        background-color: $bar-actions;
      }

      &.rules {
        background-color: $bar-rules;
      }

      &.sensors {
        background-color: $bar-sensors;
      }

      &.aliases {
        background-color: $bar-aliases;
      }

      &.triggers {
        background-color: $bar-triggers;
      }

      &.policies {
        background-color: $bar-policies;
      }

      &.runners {
        background-color: $bar-runners;
      }
    }
  }
}

.tooltip {
  &.in {
    opacity: .8;
    filter: alpha(opacity = 80);
  }
}

.testline {
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;

  span {
    font-size: 14px;
    line-height: 18px;
    color: $testline;
    vertical-align: top;
  }
}

header {
  display: none;
}

.jumbo {
  position: relative;

  padding: 60px 0 90px;
  margin: 0 0 20px;
  overflow: hidden;

  color: $white;

  background: $stackstorm-orange;
  border-bottom: 1px solid $borders;

  .content {
    background: rgba($stackstorm-orange, .7);
    border-radius: 10px;
  }

  h1 {
    margin-top: 25px;

    font-size: 38px;
    font-weight: 300;

    span {
      font-weight: 400;
    }
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;

    font-size: 24px;
  }
}

.code {
  padding: 10px 20px;

  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  line-height: 140%;
  color: $console-text;

  background: $console-background;
  border-radius: 5px;

  span {
    color: $console-highlight;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: $footer-height;
  padding: 0;

  font-size: 12px;
  line-height: $footer-height;

  background: $white;
  border-top: 1px solid $borders;

  box-sizing: border-box;

  .heart {
    position: relative;
    top: 2px;
    left: 1px;

    font-size: 16px;
  }
}

.footer-nav {
  float: right;

  margin-bottom: 0;

  li {
    display: inline-block;

    margin-left: 20px;

    color: $links;

    list-style: none;

    &::after {
      position: relative;
      top: -2px;
      display: none;

      margin-left: 10px;

      font-size: 8px;

      content: '';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }
}

.pack-submit {
  padding: 5px 10px;

  font-size: 16px;
  color: $stackstorm-orange;
  text-decoration: none;

  border: 1px solid $stackstorm-orange;
  border-radius: 3px;
}

.pack-search {
  margin: 0;

  & > :first-child {
    padding-right: $grid-gutter-width-base / 2;
    padding-left: 0;
  }

  & > :last-child {
    padding-right: 0;
    padding-left: $grid-gutter-width-base / 2;
  }

  .search-block {
    padding: 15px;

    background: $white;
    border-radius: .25rem;
  }
}
