// Misc
$footer-height: 65px;

// Description:
$white: #fff;
$bold: #000;
$light-grey: #eee;
$lighter-grey: #fafafa;
$blackish-grey: #56565a;

// Location:
$borders: $light-grey;
$tag-background: #6493b4;
$dimmed-text: #aaa;

// Purpose:
$stackstorm-orange: #f58221;
$console-background: #555;
$console-text: #ddd;
$console-highlight: #ada;
$github-button: #999;
$testline: #c0392b;
$tests-checkmark: #27ae60;
$links: #3498db;

// Content bar:
$bar-actions: #2ecc71;
$bar-rules: #3498db;
$bar-sensors: #8870ff;
$bar-aliases: #f6b517;
$bar-runners: #34495e;
$bar-triggers: #249991;
$bar-policies: #ff770b;
