// Misc
$footer-height: 65px;

// Description:
$white: #fff;
$light-grey: #eee;
$lighter-grey: #fafafa;
$blackish-grey: #56565a;

// Location:
$borders: $light-grey;
$tag-background: #bbb;
$dimmed-text: #aaa;

// Purpose:
$stackstorm-orange: #f58221;
$console-background: #555;
$console-text: #ddd;
$console-highlight: #ada;
$github-button: #999;
$testline: #c0392b;
$tests-checkmark: #27ae60;
$links: #337ab7;

// Content bar:
$bar-actions: #2980b9;
$bar-rules: #e74c3c;
$bar-sensors: #d35400;
$bar-aliases: #8e44ad;
$bar-runners: #fff;
$bar-triggers: #fff;
$bar-policies: #fff;
